:root {
  font-size: calc(0.6em + 1vw);
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}
a:link,
a:visited {
  text-decoration: none;
  color: inherit;
}
body {
  font-family: 'Open Sans', sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-variation-settings: 'wdth' 100;
  box-sizing: border-box;
}
